.titulo {
    font-family: 'Abril Fatface', cursive;
    padding-left: 40px;
    padding-right: 40px;
}

.titulo:hover {
    background-color: rgba(246, 178, 181, 0.2);
    border-radius: 90px;
}

button {
    padding: 20px;
    border-radius: 50px;
    background-color: #916c80;
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    border-color: white;
}

button:hover{
    padding: 20px;
    border-radius: 50px;
    background-color: #48284a;
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    border-color: white;
}

.nav-extended {
    background-color: #48284a;
}

.encriptar {
    background-color: #ffc6d9;
}

.desencriptar {
    background-color: #ffe1c6;
}

.tabs .tab a,
a {
    font-size: 30px;
    text-transform: none;
    font-family: 'Red Hat Display', sans-serif;
}

nav ul li a {
    font-size: 20px;
    text-transform: none;
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 90px;
}

nav ul a:hover {
    border-radius: 90px;
}

footer {
    background-color: #916c80;
    height: 15vh;
    text-align: center;
    font-size: 25px;
    color: white;
    text-transform: none;
    font-family: 'Red Hat Display', sans-serif;
    padding-top: 20px;
}

textarea.materialize-textarea:focus:not([readonly])  {
    border-bottom: 1px solid #48284a;
    -webkit-box-shadow: 0 1px 0 0 #48284a;
    box-shadow: 0 1px 0 0 #48284a;
}

textarea::placeholder {
    color: #916c80; /* Your desired color */
  }

.idea{

    font-size: 25px;
    color: #48284a;
    font-family: 'Red Hat Display', sans-serif;
    padding-top: 20px;
}

button:focus {
    outline: none;
    background-color: #6f3d72;
}

.input-field>label{
    color: #6f3d72;
}


footer a{
    background-color: #6f3d72;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}